streamlit==1.39.0

# Data
pandas==2.2.2
numpy==1.26.4
pillow==10.2.0

# MongoDB
pymongo==4.6.1

# ML / Preprocesamiento
scikit-learn==1.4.2
joblib==1.3.2

# TFLite compatible con Python 3.10 Linux x86
tflite-runtime==2.14.0

# Plotly (compatible con 3.10)
plotly==5.22.0

# Otros necesarios de tus viz
matplotlib==3.8.2
scipy==1.12.0

# Para cargar componentes HTML
beautifulsoup4==4.12.3
